@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

body {
  margin: 0;
  font-family: 'Yeon Sung', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Yeon Sung', cursive;
}
